* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: Tahoma;
    overflow-x: hidden;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}