.header__nav {
    display: flex;

    &-container {
        display: flex;
        align-items: flex-end;
    }

    &-item {
        margin-right: 3.5rem;
    }

    &-link {
        text-transform: uppercase;
        font-size: 1.6rem;
        opacity: 0.5;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
        }

        &--visible {
            display: inline-block;
            opacity: 1;
            transition: border-bottom .2s;

            &:hover {
                border-bottom: 2px solid black;
            }
        }
    }
}