.slider {
    background-color: #f5f5f5;
    height: 100vh;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.slide {
    display: flex;
    width: 100%;
    height: 80vh;
    position: relative;
    transition: 1s;

    &__photo {
        animation: slider 6s linear infinite;
    }

    &__counter {
        position: absolute;
        right: 5rem;
        bottom: 5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &__content {
        position: absolute;
        bottom: 30%;
        right: 8%;
        max-width: 35rem;
        font-family: 'Nothing You Could Do';
        font-size: 3rem;
        line-height: 1.5;
        animation: slider 6s linear infinite;
    }
}



@keyframes slider {

    0% {

        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0
    }

    100% {
        opacity: 0;
    }
}